%Kyiv-700
    font-family: $f-f-bold
    font-size: 48px
%Kyiv-500
    font-family: $f-f-medium
    font-size: 24px
%Kyiv-400
    font-family: $f-f-regular
    font-size: 20px
%Kyiv-300
    font-family: $f-f-light
    font-size: 24px

%Mont-500
    font-family: $f-f-mont